@import url('https://fonts.googleapis.com/css2?family=Changa+One:ital@1&family=Piedra&family=Trade+Winds&display=swap');


.home-title {
    font-family: 'Piedra', cursive;
    font-size: xx-large;
    color: brown;
    text-shadow: 5px 5px 5px black;
}

.home-title h3 {
    font-family: none;
    color: none;
}

.home-mainDiv {
    width: 100%;
    margin-bottom: 15px;
}

.home-leftDiv {
    display: inline-block;
    width: 50%;
}

.logo-div {
    width: 100%;
}
.logo {
    width: 100%;
}

.M-G1 {
    width: 80%;
}

.home-rightDiv {
    display: inline-block;
    width: 45%;
    vertical-align: top;
}

.home-rightTitle {
    font-family: 'Changa One', cursive;
    font-size: 60px;
    margin: 0;
}