.nav {
    margin-top: 0px;
    display: flex;
    justify-content: space-around;
}

.nav button {
    background-color: rgb(21, 10, 31);
    width: 160px;
    height: 55px;
    color: white;
    border-radius: 0 0 25px 25px;
    font-size: x-large;
    border: 0;
}